@page "/todolist"
@using global::TodoList.Models
@rendermode InteractiveServer

<h3>Todo  (@m_TodoList.Items.Count(todo => !todo.IsDone))</h3>

<ul>
    @foreach (var todo in m_TodoList.Items)
    {
        <li>
            <TodoItemComponent TodoItem="todo" OnRemove="RemoveItem" />
        </li>
    }
</ul>

<input @bind="newTodo" />
<button @onclick="AddTodo">Add todo</button>

@code {
    private TodoItemCollection m_TodoList;
    string newTodo = "";

    void AddTodo()
    {
        if (!string.IsNullOrWhiteSpace(newTodo))
        {
            m_TodoList.Add(newTodo);
            newTodo = string.Empty;
        }
    }

    private void RemoveItem(TodoItem item)
    {
        m_TodoList.Remove(item);
    }

    protected override void OnInitialized()
    {
        m_TodoList = new TodoItemCollection();
        m_TodoList.Add("hogehoge");
        m_TodoList.Add("hugahuga");
    }

}


