@page "/todolist"
@using Microsoft.AspNetCore.WebUtilities
@using global::TodoList.Models
@using global::TodoList.Sevices
@inject DataBaseService DataBaseService
@rendermode InteractiveServer

<h3>💪やることリスト💪</h3>

<TodoNavigator />


@code{
}
