@using global::TodoList.Models
@rendermode InteractiveServer

<div class="task-item">
    <button class="status-button" @onclick="ToggleStatus">
        @GetStatusEmoji(TodoItem.Status)
    </button>
    <input class="todo-title" @bind="TodoItem.Title" @bind:event="oninput" @onchange="Edit" />
    <button class="remove-button" @onclick="Remove">
        <image class="img-small" src="removeIcon.svg" alt="削除"></image>
    </button>
</div>

@code {

    [Parameter]
    public TodoItem? TodoItem { get; set; }

    [Parameter]
    public EventCallback<TodoItem> OnRemove { get; set; }

    [Parameter]
    public EventCallback<TodoItem> OnEdit { get; set; }

    private void Remove()
    {
        OnRemove.InvokeAsync(TodoItem);
    }

    private void Edit()
    {
        OnEdit.InvokeAsync(TodoItem);
    }

    private void ToggleStatus()
    {
        if (TodoItem != null)
        {
            TodoItem.Status = TodoItem.Status switch
            {
                TodoStatus.Incomplete => TodoStatus.Doing,
                TodoStatus.Doing => TodoStatus.Complete,
                TodoStatus.Complete => TodoStatus.Incomplete,
                _ => TodoStatus.Incomplete
                };
            Edit();
        }
    }

    private string GetStatusEmoji(TodoStatus status)
    {
        return status switch
        {
            TodoStatus.Incomplete => "📝", // 未着手
            TodoStatus.Doing => "🔄", // 作業中
            TodoStatus.Complete => "✅", // 完了
            _ => "📝"
            };
    }
}
