@using global::TodoList.Models
@rendermode InteractiveServer

<div class="task-item">
    @if (TodoItem.IsDone)
    {
        <span>☑️</span>
    }
    else
    {
        <button class="status-button" @onclick="ToggleIsDone">
            <span>🔖</span>
        </button>
    }
    <input class="todo-title" type="text" @bind="TodoItem.Title" @bind:event="oninput" @onchange="Edit"></input>
    <button class="remove-button" @onclick="Remove">
        <span>🗑</span>
    </button>
</div>

@code {

    [Parameter]
    public TodoItem TodoItem { get; set; }

    [Parameter]
    public EventCallback<TodoItem> OnRemove { get; set; }

    [Parameter]
    public EventCallback<TodoItem> OnEdit { get; set; }

    private void Remove()
    {
        OnRemove.InvokeAsync(TodoItem);
    }

    private void Edit()
    {
        OnEdit.InvokeAsync(TodoItem);
    }

    private void ToggleIsDone(MouseEventArgs e)
    {
        if (TodoItem != null)
        {
            TodoItem.IsDone = !TodoItem.IsDone;
            Edit();
        }
    }
}
